@model CoreTemplate.ViewModels.Genre.GenresViewModel

@{
    ViewBag.Title = "Genres";
}

<div class="btn-toolbar float-right">
    @Html.ActionLink("New", "Edit", "Genre", null, new { @class = "btn btn-primary" })
</div>
<h1>@ViewBag.Title</h1>

<br /><br />

<div>
    <table class="table sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc"><h5>@Html.DisplayNameFor(x => Model.Genres.FirstOrDefault().Name)</h5></th>
                <th class="d-none d-sm-table-cell"><h5>@Html.DisplayNameFor(x => Model.Genres.FirstOrDefault().MoviesTooltip)</h5></th>
                <th width="168" data-defaultsort="disabled"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.Genres)
            {
                <tr>
                    <td style="vertical-align: middle">@Html.DisplayFor(x => i.Name)</td>
                    <td class="d-none d-sm-table-cell">
                        <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-html="true" title="@i.MoviesTooltip">
                            @i.MoviesCount
                        </button>
                    </td>
                    <td>
                        <div class="btn-toolbar float-right">
                            <a class="btn btn-primary" asp-controller="Genre" asp-action="View" asp-route-id="@i.Id">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a class="btn btn-primary ml-2" asp-controller="Genre" asp-action="Edit" asp-route-id="@i.Id">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="btn btn-primary ml-2" asp-controller="Genre" asp-action="Delete" asp-route-id="@i.Id">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
