@using DotNetFlicks.Common.Utilities

@model List<DotNetFlicks.ViewModels.Movie.MovieViewModel>

<div class="mx-auto d-flex flex-wrap justify-content-center justify-content-lg-start" style="max-width: 1088px;">
    @foreach (var movie in Model)
    {
        <div class="card movie-card m-3"
             style="width: 15rem;"
             data-name="@movie.Name"
             data-date="@(((DateTimeOffset)movie.ReleaseDate).ToUnixTimeSeconds().ToString())"
             data-price="@movie.RentCost"
             data-purchase-date="@movie.PurchaseDateString">
            <a asp-controller="Movie" asp-action="View" asp-route-id="@movie.Id" style="color: black; text-decoration: none;">
                <img class="card-img-top" src="@movie.ImageUrl">
                <div class="card-body" style="padding-bottom: 0; height: 44px;">
                    @if (movie.Name.Count() > 20)
                    {
                        <h6 class="card-title mb-0">@movie.Name</h6>
                    }
                    else
                    {
                        <h5 class="card-title mb-0">@movie.Name</h5>
                    }
                </div>
                <div class="card-footer text-muted" style="background: none; border-top: none;">
                    <div class="d-flex">
                        <p class="card-text mb-0"><small>@movie.ReleaseDate.ToCustomDateString()</small></p>
                        @if (!(bool)ViewData["OnlyPurchasedMovies"])
                        {
                            <p class="card-text ml-auto mb-0">$@movie.RentCost</p>
                        }
                    </div>
                </div>
            </a>
        </div>
    }
</div>