@model DotNetFlicks.ViewModels.Shared.DataTableViewModel

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="d-flex justify-content-end mt-4 pagination-toolbar">
    @if (Model.FilteredCount == Model.TotalCount)
    {
        <p class="my-auto mr-auto">@Model.FirstItemIndex - @Model.LastItemIndex of @Model.FilteredCount items</p>
    }
    else
    {
        <p class="my-auto mr-auto">@Model.FirstItemIndex - @Model.LastItemIndex of @Model.FilteredCount items (filtered from @Model.TotalCount total items)</p>
    }

    <div class="btn-group btn-group-toggle my-auto">
        <!-- Display link to previous page -->
        <a asp-action="Index"
           asp-route-sortOrder="@Model.SortOrder"
           asp-route-search="@Model.Search"
           asp-route-pageIndex="@(Model.PageIndex - 1)"
           asp-route-pageSize="@Model.PageSize"
           class="btn btn-outline-primary @prevDisabled">
            <i class="fas fa-chevron-left my-auto ml-auto"></i>
        </a>

        @for (var i = 1; i <= Model.PageCount; i++)
        {
            //Display page links for the current page, the pages on both sides of the current page, the first page and last page
            if (Math.Abs(Model.PageIndex - i) < 2 || i == 1 || i == Model.PageCount)
            {
                <a asp-action="Index"
                   asp-route-sortOrder="@Model.SortOrder"
                   asp-route-search="@Model.Search"
                   asp-route-pageIndex="@i"
                   asp-route-pageSize="@Model.PageSize"
                   class="btn btn-outline-primary d-none d-md-inline @(i == Model.PageIndex ? "active" : "")">
                    @i
                </a>
            }
            //Display "..." spacers to represent page number skips between the middle 3 pages and the first and last pages
            else if (Math.Abs(Model.PageIndex - i) < 3)
            {
                <a class="btn btn-outline-primary d-none d-md-inline disabled">...</a>
            }
        }

        <!-- Display link to next page -->
        <a asp-action="Index"
           asp-route-sortOrder="@Model.SortOrder"
           asp-route-search="@Model.Search"
           asp-route-pageIndex="@(Model.PageIndex + 1)"
           asp-route-pageSize="@Model.PageSize"
           class="btn btn-outline-primary @nextDisabled">
            <i class="fas fa-chevron-right my-auto ml-auto"></i>
        </a>
    </div>
</div>