<form asp-action="Index" method="get">
    <input type="hidden" name="SortOrder" value="@ViewData["CurrentSort"]" />
    <input type="hidden" name="Page" value="@ViewData["TotalPages"]" />

    <div class="d-flex mb-4">
        <div>
            <p class="d-inline-block mr-2">Show </p>
            <select class="d-inline-block form-control w-auto" asp-items="Model.PageSizes" name="PageSize" onchange="this.form.submit();"></select>
            <p class="d-inline-block ml-2"> entries</p>
        </div>
        <div class="ml-auto">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="Search" />
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>

        </div>
        @if (!string.IsNullOrEmpty((string)ViewData["CurrentFilter"]))
        {
            <div class="ml-3 mt-2">
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-pageSize="@ViewData["PageSize"]">Clear search</a>
            </div>
        }

    </div>
</form>