@model DotNetFlicks.ViewModels.Shared.SortableHeaderViewModel

@{ 
    var ascSort = Model.ColumnName + "_Asc";
    var descSort = Model.ColumnName + "_Desc";
    var newSortOrderOnClick = Model.DataTable.SortOrder == ascSort ? descSort : ascSort;
}

<a class="d-block p-3"
   asp-action="Index"
   asp-route-sortOrder="@newSortOrderOnClick"
   asp-route-search="@Model.DataTable.Search"
   asp-route-pageIndex="@Model.DataTable.PageIndex"
   asp-route-pageSize="@Model.DataTable.PageSize">
    <div class="d-flex">
        <h5 class="mb-1">@Model.ColumnName</h5>
        @if (Model.DataTable.SortOrder == ascSort)
        {
            <i class="fas fa-sort-up my-auto ml-auto"></i>
        }
        else if (Model.DataTable.SortOrder == descSort)
        {
            <i class="fas fa-sort-down my-auto ml-auto"></i>
        }
        else
        {
            <i class="fas fa-sort my-auto ml-auto" style="color: lightgray;"></i>
        }
    </div>
</a>