@using DotNetFlicks.ViewModels.Shared;

@model PaginatedList<DotNetFlicks.ViewModels.Person.PersonViewModel>

@{
    ViewData["Title"] = "People";
}

<div class="d-flex mb-5">
    <h1>@ViewData["Title"] <small>(@Model.TotalCount)</small></h1>
    <a class="btn btn-primary ml-auto my-auto" asp-controller="Person" asp-action="Edit">New</a>
</div>

<div>
    <partial name="_SearchToolbar" />

    <table class="table">
        <thead>
            <tr>
                <th class="d-table-cell p-0">
                    <a class="d-block p-3"
                       asp-action="Index"
                       asp-route-sortOrder="@ViewData["NameSortParm"]"
                       asp-route-currentFilter="@Model.CurrentFilter"
                       asp-route-page="@Model.PageIndex"
                       asp-route-pageSize="@Model.PageSize">
                        <div class="d-flex">
                            <h5 class="mb-1">Name</h5>
                            @if (string.IsNullOrEmpty(Model.CurrentSort))
                            {
                                <i class="fas fa-sort-up my-auto ml-auto"></i>
                            }
                            else if (Model.CurrentSort == "name_desc")
                            {
                                <i class="fas fa-sort-down my-auto ml-auto"></i>
                            }
                            else
                            {
                                <i class="fas fa-sort my-auto ml-auto" style="color: lightgray;"></i>
                            }
                        </div>
                    </a>

                </th>
                <th class="d-none d-md-table-cell">
                    <h5>Image</h5>
                </th>
                <th class="d-none d-md-table-cell p-0">
                    <a class="d-block p-3"
                       asp-action="Index"
                       asp-route-sortOrder="@ViewData["RolesSortParm"]"
                       asp-route-currentFilter="@Model.CurrentFilter"
                       asp-route-page="@Model.PageIndex"
                       asp-route-pageSize="@Model.PageSize">
                        <div class="d-flex">
                            <h5 class="mb-1">Roles</h5>
                            @if (Model.CurrentSort == "Roles")
                            {
                                <i class="fas fa-sort-up my-auto ml-auto"></i>
                            }
                            else if (Model.CurrentSort == "roles_desc")
                            {
                                <i class="fas fa-sort-down my-auto ml-auto"></i>
                            }
                            else
                            {
                                <i class="fas fa-sort my-auto ml-auto" style="color: lightgray;"></i>
                            }
                        </div>
                    </a>
                </th>
                <th width="116"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Model)
            {
                <tr>
                    <td class="d-table-cell align-middle">
                        <a asp-controller="Person" asp-action="View" asp-route-id="@person.Id" class="custom-link">
                            @Html.DisplayFor(x => person.Name)
                        </a>
                    </td>

                    <td class="d-none d-md-table-cell align-middle">
                        @if (!string.IsNullOrEmpty(person.ImageUrl))
                        {
                            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target=".image-modal" data-title="@person.Name" data-img-src="@person.ImageUrl">
                                <i class="fas fa-image"></i>
                            </button>
                        }
                    </td>
                    <td class="d-none d-md-table-cell">
                        <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-html="true" title="@person.RolesTooltip">
                            @person.Roles.Count
                        </button>
                    </td>
                    <td>
                        <div class="d-flex">
                            <a class="btn btn-primary ml-2" asp-controller="Person" asp-action="Edit" asp-route-id="@person.Id">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="btn btn-primary ml-2" asp-controller="Person" asp-action="Delete" asp-route-id="@person.Id">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <partial name="_PaginationToolbar" />
</div>

<div class="modal fade image-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title"></h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <img alt="Image" class="img-fluid" />
            </div>
        </div>
    </div>
</div>