@using DotNetFlicks.Common.Utilities

@model DotNetFlicks.ViewModels.Person.PersonViewModel

@{
    ViewData["Title"] = Model.Name;
    var categories = Model.Roles.GroupBy(x => x.Category).OrderByDescending(x => x.Count());
}

<div class="jumbotron">
    <div class="row">
        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
            <div class="col-xl-4 col-md-6 offset-md-3 offset-lg-0 text-center">
                <img src=@Model.ImageUrl class="img-fluid jumbo-image" data-toggle="modal" data-target=".image-modal" />
                <br class="d-lg-none" /><br class="d-lg-none" />
            </div>
        }
        <div class="col">
            <h1 class="display-4">@ViewData["Title"]</h1>
            <hr class="my-4">

            <span>
                @Html.Raw(Model.Biography.ToSubString(500).HtmlEncode())
                @if (Model.Biography.Count() > 500)
                {
                    <a class="btn btn-primary btn-sm m-1" role="button" data-toggle="modal" data-target=".biography-modal">Read more</a>
                }
            </span>

            <br /><br />

            @if (Model.BirthDate.HasValue)
            {
                <p><strong>Age@(Model.DeathDate.HasValue ? " at Death" : ""): </strong>@Html.DisplayFor(x => x.Age)</p>
                <p><strong>Born: </strong>@Model.BirthDate.Value.ToCustomDateString()</p>
            }

            @if (Model.DeathDate.HasValue)
            {
                <p><strong>Died: </strong>@Model.DeathDate.Value.ToCustomDateString()</p>
            }

            @if (!string.IsNullOrEmpty(Model.KnownFor))
            {
                <p><strong>Known For: </strong>@Html.DisplayFor(x => x.KnownFor)</p>
            }
            <p><strong>Credits: </strong>@Html.DisplayFor(x => x.Roles.Count)</p>
        </div>
    </div>
</div>

@{
    var collapseId = 0;
}

@foreach (var category in categories)
{
    var categoryName = category.First().Category;
    collapseId++;

    <div class="card role-card">
        <div class="card-header bg-primary text-white collapse-card" data-toggle="collapse" aria-expanded="true" href="#collapse-@(collapseId)">
            <div class="d-flex">
                <h5 class="card-title mb-0">@categoryName <small>(@category.Count())</small></h5>
                <i class="ml-auto my-auto fas fa-chevron-up" )"></i>
            </div>
        </div>
        <div class="card-body py-0 collapse show" id="collapse-@(collapseId)">
            <table class="table mb-0">
                @foreach (var role in category)
                {
                    <tr class="row">
                        <td width="90">@role.MovieYear</td>
                        <td class="col">
                            <strong><a asp-controller="Movie" asp-action="View" asp-route-id="@role.MovieId" class="custom-link">@role.MovieName</a></strong> (@role.Role)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <br />
}

<div class="modal fade image-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 550px">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">@ViewData["Title"]</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <img src=@Model.ImageUrl alt="Image" class="img-fluid" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade biography-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">@ViewData["Title"]</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Raw(Model.Biography.HtmlEncode())
            </div>
        </div>
    </div>
</div>