@model CoreTemplate.ViewModels.Person.PersonViewModel

@{
    ViewBag.Title = string.Format("Delete {0} {1}", Model.FirstName, Model.LastName);
}

<h1>@ViewBag.Title</h1>
<p class="lead">Are you sure you want to delete @Model.FirstName @Model.LastName?</p>
<br /><br />

<form asp-controller="Person" asp-action="Delete" method="post" class="form-horizontal" role="form">
    <div class="container form-actions no-color">
        @if (Model.MoviesCount > 0)
        {
            <h4 class="text-danger">@Model.FirstName @Model.LastName cannot be deleted because they are part of the crew for @Model.MoviesCount movies: </h4>
            <p>@Html.Raw(Model.MoviesTooltip)</p>
        }
        else
        {
            <input type="submit" value="Delete" class="btn btn-danger" />
        }
        <br /><br />
        <a asp-action="Index">Back to List</a>
    </div>
</form>