@model CoreTemplate.ViewModels.Person.PeopleViewModel

@{
    ViewBag.Title = "People";
}

<div class="btn-toolbar float-right">
    @Html.ActionLink("New", "Edit", "Person", null, new { @class = "btn btn-primary" })
</div>
<h1>@ViewBag.Title</h1>

<br /><br />

<div>
    <table class="table sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc"><h5>@Html.DisplayNameFor(x => Model.People.FirstOrDefault().FirstName)</h5></th>
                <th><h5>@Html.DisplayNameFor(x => Model.People.FirstOrDefault().LastName)</h5></th>
                <th><h5>Image</h5></th>
                <th data-defaultsort="disabled"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.People)
            {
                <tr>
                    <td style="vertical-align: middle">@Html.DisplayFor(x => i.FirstName)</td>
                    <td style="vertical-align: middle">@Html.DisplayFor(x => i.LastName)</td>
                    <td style="vertical-align: middle" data-value=@(!string.IsNullOrEmpty(i.ImageUrl))>
                        @if (!string.IsNullOrEmpty(i.ImageUrl))
                        {
                            <i class="fas fa-image"></i>
                        }
                    </td>
                    <td>
                        <div class="btn-toolbar float-right">
                            <a class="btn btn-primary" style="margin-left: 10px" asp-area="" asp-controller="Person" asp-action="Edit" asp-route-id="@i.Id">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="btn btn-primary" style="margin-left: 10px" asp-area="" asp-controller="Person" asp-action="Delete" asp-route-id="@i.Id">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
