@using DotNetFlicks.ViewModels.Shared;

@model DotNetFlicks.ViewModels.Genre.GenresViewModel

@{
    ViewData["Title"] = "Genres";
}

<div class="d-flex mb-5">
    <partial name="_DataTableTitle" for="@Model.DataTable" />
    <a class="btn btn-primary ml-auto my-auto" asp-controller="Genre" asp-action="Edit">New</a>
</div>

<div>
    <partial name="_SearchToolbar" for="@Model.DataTable" />

    <table class="table">
        <thead>
            <tr>
                <th class="d-table-cell p-0">
                    <partial name="_SortableHeader" model='new SortableHeaderViewModel {DataTable = Model.DataTable, ColumnName = "Name"}' />
                </th>
                <th class="d-none d-sm-table-cell p-0">
                    <partial name="_SortableHeader" model='new SortableHeaderViewModel {DataTable = Model.DataTable, ColumnName = "Movies"}' />
                </th>
                <th width="116"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.Genres)
            {
                <tr>
                    <td class="align-middle">
                        <a asp-controller="Genre" asp-action="View" asp-route-id="@i.Id" class="custom-link">
                            @Html.DisplayFor(x => i.Name)
                        </a>
                    </td>
                    <td class="d-none d-sm-table-cell">
                        <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-html="true" title="@i.MoviesTooltip">
                            @i.Movies.Count
                        </button>
                    </td>
                    <td>
                        <div class="d-flex">
                            <a class="btn btn-primary ml-2" asp-controller="Genre" asp-action="Edit" asp-route-id="@i.Id">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="btn btn-primary ml-2" asp-controller="Genre" asp-action="Delete" asp-route-id="@i.Id">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <partial name="_PaginationToolbar" for="@Model.DataTable" />
</div>
