@model CoreTemplate.ViewModels.Job.JobViewModel

@{
    ViewBag.Title = string.Format("Delete {0}", Model.Name);
}

<h1>@ViewBag.Title</h1>
<p class="lead">Are you sure you want to delete @Model.Name?</p>
<br /><br />

<form asp-controller="Job" asp-action="Delete" method="post" class="form-horizontal" role="form">
    <div class="container form-actions no-color">
        @if (Model.PeopleCount > 0)
        {
            <h4 class="text-danger">@Model.Name cannot be deleted because @Model.PeopleCount people use it: </h4>
            <p>@Html.Raw(Model.PeopleTooltip)</p>
        }
        else
        {
            <input type="submit" value="Delete" class="btn btn-danger" />
        }
        <br /><br />
        <a asp-action="Index">Back to List</a>
    </div>
</form>