@model DotNetFlicks.ViewModels.Movie.EditMovieViewModel

@{
    ViewData["Title"] = Model.Id > 0 ? "Edit " + Model.Name : "New Movie";
}

<h1>@ViewData["Title"]</h1>
<br /><br />

<form asp-controller="Movie" asp-action="Edit" method="post" class="form-horizontal" role="form">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-4">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-4">
                <label asp-for="GenreIds" class="control-label"></label>
                <select asp-for="GenreIds" asp-items="@Model.GenresSelectList" class="form-control selectpicker" data-live-search="true" data-size="10" data-max-options="5"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-md-6 mb-4">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <!-- The logic below is used to display "mm/dd/yyyy" instead of "01/01/0001" as the default date for new entities -->
                <input asp-for="ReleaseDate" value="@(Model.ReleaseDate == DateTime.MinValue ? "" : Model.ReleaseDate.ToString("yyyy-MM-dd"))" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-4">
                <label asp-for="Runtime" class="control-label"></label>
                <input asp-for="Runtime" class="form-control" />
                <span asp-validation-for="Runtime" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-4">
                <label asp-for="PurchaseCost" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">$</div>
                    </div>
                    <input asp-for="PurchaseCost" class="form-control" />
                </div>
                <span asp-validation-for="PurchaseCost" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-4">
                <label asp-for="RentCost" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">$</div>
                    </div>
                    <input asp-for="RentCost" class="form-control" />
                </div>
                <span asp-validation-for="RentCost" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-4">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-4">
                <label asp-for="TrailerUrl" class="control-label"></label>
                <input asp-for="TrailerUrl" class="form-control" />
                <span asp-validation-for="TrailerUrl" class="text-danger"></span>
            </div>
        </div>

        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#cast-modal">Edit Cast</button>

        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#crew-modal">Edit Crew</button>

        <div class="modal fade" id="cast-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Edit Cast</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <table class="table" id="cast-table">
                                <thead>
                                    <tr class="row">
                                        <th class="col border-top-0" scope="col">Person</th>
                                        <th class="col border-top-0" scope="col">Role</th>
                                        <th class="border-top-0" scope="col" width="176"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Cast != null)
                                    {
                                        @for (int i = 0; i < Model.Cast.Count; i++)
                                        {
                                            @Html.EditorFor(x => x.Cast[i])
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary add-person mr-auto" data-toggle="modal">Add Person</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Update Cast</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="crew-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Edit Crew</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <table class="table" id="crew-table">
                                <thead>
                                    <tr class="row">
                                        <th class="col border-top-0" scope="col">Person</th>
                                        <th class="col border-top-0" scope="col">Department</th>
                                        <th class="col border-top-0" scope="col">Position</th>
                                        <th class="border-top-0" scope="col" width="64"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Crew != null)
                                    {
                                        @for (int i = 0; i < Model.Crew.Count; i++)
                                        {
                                            @Html.EditorFor(x => x.Crew[i])
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary add-person mr-auto" data-toggle="modal">Add Person</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Update Crew</button>
                    </div>
                </div>
            </div>
        </div>

        <br /><br />

        <div class="form-group">
            <button class="btn btn-primary" type="submit">Save</button>
            <br /><br />
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</form>
