@using DotNetFlicks.ViewModels.Shared;

@model DotNetFlicks.ViewModels.Movie.MoviesViewModel

@{
    ViewData["Title"] = "Movies";
}

<div class="d-flex mb-5">
    <partial name="_DataTableTitle" for="@Model.DataTable" />
    <a class="btn btn-primary ml-auto my-auto" asp-controller="Movie" asp-action="Edit">New</a>
</div>

<div>
    <partial name="_SearchToolbar" for="@Model.DataTable" />

    <table class="table">
        <thead>
            <tr>
                <th class="d-table-cell p-0">
                    <partial name="_SortableHeader" model='new SortableHeaderViewModel {DataTable = Model.DataTable, ColumnName = "Name"}' />
                </th>
                <th class="d-none d-md-table-cell p-0">
                    <partial name="_SortableHeader" model='new SortableHeaderViewModel {DataTable = Model.DataTable, ColumnName = "Date"}' />
                </th>
                <th class="d-none d-xl-table-cell"><h5>Image</h5></th>
                <th class="d-none d-lg-table-cell p-0">
                    <partial name="_SortableHeader" model='new SortableHeaderViewModel {DataTable = Model.DataTable, ColumnName = "Genres"}' />
                </th>
                <th width="116"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.Movies)
            {
                <tr>
                    <td class="align-middle">
                        <a asp-controller="Movie" asp-action="View" asp-route-id="@i.Id" class="custom-link">
                            @Html.DisplayFor(x => i.Name)
                        </a>
                    </td>
                    <td class="d-none d-md-table-cell align-middle">@Html.DisplayFor(x => i.ReleaseDate)</td>
                    <td class="d-none d-xl-table-cell align-middle">
                        @if (!string.IsNullOrEmpty(i.ImageUrl))
                        {
                            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target=".image-modal" data-title="@i.Name" data-img-src="@i.ImageUrl">
                                <i class="fas fa-image"></i>
                            </button>
                        }
                    </td>
                    <td class="d-none d-lg-table-cell">
                        <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-html="true" title="@i.GenresTooltip">
                            @i.Genres.Count
                        </button>
                    </td>
                    <td>
                        <div class="d-flex">
                            <a class="btn btn-primary ml-2" asp-controller="Movie" asp-action="Edit" asp-route-id="@i.Id">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="btn btn-primary ml-2" asp-controller="Movie" asp-action="Delete" asp-route-id="@i.Id">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <partial name="_PaginationToolbar" for="@Model.DataTable" />
</div>

<div class="modal fade image-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title"></h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <img alt="Image" class="img-fluid" />
            </div>
        </div>
    </div>
</div>
