@using CoreTemplate.Common.Helpers

@model CoreTemplate.ViewModels.Movie.MovieViewModel

<div class="col mb-4 movie-column" data-name="@Model.Name" data-date="@Model.ReleaseDate.ToString("yyyy/MM/dd")" data-price="@Model.RentCost">
    <div class="card movie-card" style="width: 15rem;">
        <a asp-controller="Movie" asp-action="View" asp-route-id="@Model.Id" style="all: unset">
            <img class="card-img-top" src="@Model.ImageUrl">
            <div class="card-body">
                <h5 class="card-title mb-0">@Model.Name</h5>
                <div class="d-flex">
                    <p class="card-text text-muted mb-0"><small>@Model.ReleaseDate.ToCustomDateString()</small></p>
                    <p class="card-text text-muted ml-auto mb-0">$@Model.RentCost</p>
                </div>
            </div>
        </a>
    </div>
</div>