@model CoreTemplate.ViewModels.Movie.MoviesViewModel

@{
    ViewBag.Title = "Movies";
}

<div class="btn-toolbar float-right">
    @Html.ActionLink("New", "Edit", "Movie", null, new { @class = "btn btn-primary" })
</div>
<h1>@ViewBag.Title</h1>

<br /><br />

<div>
    <table class="table">
        <thead>
            <tr>
                <th><h5>@Html.DisplayNameFor(x => Model.Movies.FirstOrDefault().Name)</h5></th>
                <th><h5>@Html.DisplayNameFor(x => Model.Movies.FirstOrDefault().Genre)</h5></th>
                <th><h5>@Html.DisplayNameFor(x => Model.Movies.FirstOrDefault().Director)</h5></th>
                <th><h5>@Html.DisplayNameFor(x => Model.Movies.FirstOrDefault().Runtime)</h5></th>
                <th><h5>@Html.DisplayNameFor(x => Model.Movies.FirstOrDefault().Year)</h5></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.Movies)
            {
                <tr>
                    <td style="vertical-align: middle">@Html.DisplayFor(x => i.Name)</td>
                    <td style="vertical-align: middle">@Html.DisplayFor(x => i.Genre)</td>
                    <td style="vertical-align: middle">@Html.DisplayFor(x => i.Director)</td>
                    <td style="vertical-align: middle">@Html.DisplayFor(x => i.Runtime)</td>
                    <td style="vertical-align: middle">@Html.DisplayFor(x => i.Year)</td>
                    <td>
                        <div class="btn-toolbar float-right">

                            <a class="btn btn-primary" asp-area="" asp-controller="Movie" asp-action="Edit" asp-route-id="@i.Id">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="btn btn-primary" asp-area="" asp-controller="Movie" asp-action="Delete" asp-route-id="@i.Id">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
