@model CoreTemplate.ViewModels.Movie.MoviesViewModel

@{
    ViewBag.Title = "Movies";
}

<div class="btn-toolbar float-right">
    @Html.ActionLink("New", "Edit", "Movie", null, new { @class = "btn btn-primary" })
</div>
<h1>@ViewBag.Title</h1>

<br /><br />

<div>
    <table class="table sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc"><h5>@Html.DisplayNameFor(x => Model.Movies.FirstOrDefault().Name)</h5></th>
                <th class="d-none d-lg-table-cell"><h5>@Html.DisplayNameFor(x => Model.Movies.FirstOrDefault().ReleaseDate)</h5></th>
                <th class="d-none d-lg-table-cell"><h5>@Html.DisplayNameFor(x => Model.Movies.FirstOrDefault().Runtime)</h5></th>
                <th class="d-none d-xl-table-cell"><h5>@Html.DisplayNameFor(x => Model.Movies.FirstOrDefault().PurchaseCost)</h5></th>
                <th class="d-none d-xl-table-cell"><h5>@Html.DisplayNameFor(x => Model.Movies.FirstOrDefault().RentCost)</h5></th>
                <th class="d-none d-xl-table-cell"><h5>Image</h5></th>
                <th class="d-none d-md-table-cell"><h5>@Html.DisplayNameFor(x => Model.Movies.FirstOrDefault().GenresTooltip)</h5></th>
                <th class="d-none d-md-table-cell"><h5>@Html.DisplayNameFor(x => Model.Movies.FirstOrDefault().PeopleTooltip)</h5></th>
                <th width="116" data-defaultsort="disabled"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.Movies)
            {
                <tr>
                    <td style="vertical-align: middle">@Html.DisplayFor(x => i.Name)</td>
                    <td class="d-none d-lg-table-cell" style="vertical-align: middle" data-dateformat="MM-DD-YYYY">@Html.DisplayFor(x => i.ReleaseDate)</td>
                    <td class="d-none d-lg-table-cell" style="vertical-align: middle">@Html.DisplayFor(x => i.Runtime)</td>
                    <td class="d-none d-xl-table-cell" style="vertical-align: middle">@Html.DisplayFor(x => i.PurchaseCost)</td>
                    <td class="d-none d-xl-table-cell" style="vertical-align: middle">@Html.DisplayFor(x => i.RentCost)</td>
                    <td class="d-none d-xl-table-cell" style="vertical-align: middle" data-value=@(!string.IsNullOrEmpty(i.ImageUrl))>
                        @if (!string.IsNullOrEmpty(i.ImageUrl))
                        {
                            <i class="fas fa-image"></i>
                        }
                    </td>
                    <td class="d-none d-md-table-cell">
                        <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-html="true" title="@i.GenresTooltip">
                            @i.GenresCount
                        </button>
                    </td>
                    <td class="d-none d-md-table-cell">
                        <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-html="true" title="@i.PeopleTooltip">
                            @i.PeopleCount
                        </button>
                    </td>
                    <td>
                        <div class="btn-toolbar float-right">
                            <a class="btn btn-primary" asp-area="" asp-controller="Movie" asp-action="Edit" asp-route-id="@i.Id">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="btn btn-primary ml-2" asp-area="" asp-controller="Movie" asp-action="Delete" asp-route-id="@i.Id">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
