@model CoreTemplate.ViewModels.Movie.MoviesViewModel

@{
    ViewBag.Title = "Movies";
}

<div class="btn-toolbar float-right">
    @Html.ActionLink("New", "Edit", "Movie", null, new { @class = "btn btn-primary" })
</div>
<h1>@ViewBag.Title</h1>

<br /><br />

<div>
    <table class="table sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc"><h5>@Html.DisplayNameFor(x => Model.Movies.FirstOrDefault().Name)</h5></th>
                <th class="d-none d-md-table-cell"><h5>@Html.DisplayNameFor(x => Model.Movies.FirstOrDefault().ReleaseDate)</h5></th>
                <th class="d-none d-xl-table-cell"><h5>Image</h5></th>
                <th class="d-none d-lg-table-cell"><h5>@Html.DisplayNameFor(x => Model.Movies.FirstOrDefault().GenresTooltip)</h5></th>
                <th class="d-none d-lg-table-cell"><h5>@Html.DisplayNameFor(x => Model.Movies.FirstOrDefault().CrewTooltip)</h5></th>
                <th width="168" data-defaultsort="disabled"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.Movies)
            {
                <tr>
                    <td style="vertical-align: middle">@Html.DisplayFor(x => i.Name)</td>
                    <td class="d-none d-md-table-cell" style="vertical-align: middle" data-dateformat="MM-DD-YYYY">@Html.DisplayFor(x => i.ReleaseDate)</td>
                    <td class="d-none d-xl-table-cell" style="vertical-align: middle" data-value=@(!string.IsNullOrEmpty(i.ImageUrl))>
                        @if (!string.IsNullOrEmpty(i.ImageUrl))
                        {
                            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target=".image-modal" data-title="@i.Name" data-img-src="@i.ImageUrl">
                                <i class="fas fa-image"></i>
                            </button>
                        }
                    </td>
                    <td class="d-none d-lg-table-cell">
                        <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-html="true" title="@i.GenresTooltip">
                            @i.GenresCount
                        </button>
                    </td>
                    <td class="d-none d-lg-table-cell">
                        <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-html="true" title="@i.CrewTooltip">
                            @i.CrewCount
                        </button>
                    </td>
                    <td>
                        <div class="btn-toolbar float-right">
                            <a class="btn btn-primary" asp-controller="Movie" asp-action="View" asp-route-id="@i.Id">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a class="btn btn-primary ml-2" asp-controller="Movie" asp-action="Edit" asp-route-id="@i.Id">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="btn btn-primary ml-2" asp-controller="Movie" asp-action="Delete" asp-route-id="@i.Id">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="modal fade image-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title"></h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <img alt="Image" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</div>
