@using CoreTemplate.Common.Helpers

@model CoreTemplate.ViewModels.Movie.MoviesViewModel

@{
    ViewBag.Title = "Movies";
}

<h1>@ViewBag.Title</h1>
<br /><br />

<div class="container-fluid">
    <div class="row">
        @foreach (var movie in Model.Movies)
        {
        <div class="col mb-4">
            <a asp-controller="Movie" asp-action="View" asp-route-id="@movie.Id" style="all: unset">
                <div class="card movie-card" style="width: 15rem;">
                    <img class="card-img-top" src="@movie.ImageUrl">
                    <div class="card-body">
                        <h5 class="card-title mb-0" style="">@movie.Name</h5>
                        <p class="card-text lead" style="font-size: 16px">@movie.ReleaseDate.ToCustomDateString()</p>
                    </div>
                </div>
            </a>
        </div>
        }
    </div>
</div>