@using CoreTemplate.Common.Helpers

@model CoreTemplate.ViewModels.Movie.MovieViewModel

@{
    ViewBag.Title = Model.Name;
}

<div class="jumbotron" style="padding: 32px">
    <div class="row">
        <div class="col-md-4">
            <img src=@Model.ImageUrl class="img-fluid" />
        </div>
        <div class="col-md-8">
            <h1 class="display-4">@ViewBag.Title</h1>
            <p>@Model.Description</p>
            <hr class="my-4">
            <p>
                <strong>Genres: </strong>
                @foreach (var genre in Model.Genres)
                {
                    <a class="badge badge-secondary" asp-controller="Genre" asp-action="View" asp-route-id="@genre.Id">@genre.Name</a>
                }
            </p>
            <p><strong>Release Date: </strong>@Model.ReleaseDate.ToCustomDateString()</p>
            <p><strong>Runtime: </strong>@Html.DisplayFor(x => x.Runtime)</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Rent ($@Model.RentCost)</a>
                <a class="btn btn-primary btn-lg" href="#" role="button">Buy ($@Model.PurchaseCost)</a>
                <a class="btn btn-primary btn-lg" href="#" role="button">Watch</a>
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Cast <small>(@Html.DisplayFor(x => x.Cast.Count))</small></h2>
            <br />
            <table class="table">
                <tbody>
                    @foreach (var castMember in Model.Cast)
                    {
                        <tr class="row">
                            <td class="col-md-6 align-middle">
                                <a asp-controller="Person" asp-action="View" asp-route-id="@castMember.PersonId">@castMember.PersonName</a>
                            </td>
                            <td class="col-md-6 align-middle">
                                @castMember.Role
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h2>Crew <small>(@Html.DisplayFor(x => x.Crew.Count))</small></h2>
            <br />

            @foreach (var department in Model.Crew.GroupBy(x => x.Category))
            {
                <p>@department.First().Category</p>
                <table class="table">
                    <tbody>
                        @foreach (var crewMember in department)
                        {
                            <tr class="row">
                                <td class="col-md-6 align-middle">
                                    <a asp-controller="Person" asp-action="View" asp-route-id="@crewMember.PersonId">@crewMember.PersonName</a>
                                </td>
                                <td class="col-md-6 align-middle">
                                    @crewMember.Role
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
            }

        </div>
    </div>
</div>